<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ducky.kurokobasketball">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyNoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.ducky.kurokobasketball.ui.cropper.CropperActivity"/>
        <activity android:name=".ui.favorite.FavoriteActivity"
            android:label="@string/favorite_activity"/>
        <activity
            android:name="com.ducky.kurokobasketball.ui.album.AlbumActivity"
            android:label="@string/title_activity_album" />
        <activity
            android:name="com.ducky.kurokobasketball.ui.wallpaper.WallpapersActivity"
            android:label="@string/title_activity_wallpapers" />
        <activity
            android:name="com.ducky.kurokobasketball.ui.MainActivity"
            android:theme="@style/MyNoActionBar"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ducky.kurokobasketball.service.ChangeWallPaperService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.ducky.kurokobasketball.network.MyReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>